In [2]:
# Code to concat merge1 to merge1
# create multiple versions of merge1
# after every_version of data, do the git commit and git push
# lastly pull to see which version is pulled
# can we pull earlier versions of merge1?

In [46]:
import pandas as pd

# Step 1: Read the original CSV file
file_path_1 = '/Users/susmitsingh/Susmit_Singh/python_codes/dvc_demo/data/half_data.csv'
df1 = pd.read_csv(file_path_1)

# Step 2: Read the smaller CSV file
file_path_2 = '/Users/susmitsingh/Susmit_Singh/python_codes/dvc_demo/data/version_test_data.csv'
df2 = pd.read_csv(file_path_2)

# Step 3: Append the second DataFrame to the first DataFrame
df_combined = pd.concat([df1, df2])

# Step 4: Save the combined DataFrame to a new CSV file
output_file_path = '/Users/susmitsingh/Susmit_Singh/python_codes/dvc_demo/data/version_test_data.csv'
df_combined.to_csv(output_file_path)

# Step 5: Display the first few rows of the combined DataFrame
df_combined.head()

/var/folders/13/f4xf38s54wd04zpl1l0b80y80000gn/T/ipykernel_14810/1617519599.py:9: DtypeWarning: Columns (1,2,4,5,22,26,27,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(file_path_2)

,satisfaction,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes
0,satisfied,Loyal Customer,16.0,Business travel,Eco Plus,3857.0,0.0,3.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,satisfied,Loyal Customer,44.0,Business travel,Business,3966.0,0.0,3.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,satisfied,Loyal Customer,14.0,Business travel,Eco,1520.0,0.0,3.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,satisfied,Loyal Customer,50.0,Business travel,Business,3954.0,0.0,3.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,satisfied,Loyal Customer,39.0,Business travel,Business,72.0,0.0,3.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN